@font-face{
	font-family: title-font;
	src: url(DiodaTRIAL-Bold.woff);
}
@font-face{
	font-family:text-font;
	src: url(ABCSolarTrial-Regular.otf)
}
.colorblock{
	background-color: orange;
	top: 0;
 	left: 0;
  	bottom: 0;
  	right: 0;
  	overflow: auto;
  	height:90px;
  	margin-left: 0px;
  	margin-right:0px;
  	margin-top:0px;
  	position:fixed;
  	z-index:1;
}
p{
	font-family:DiodaTRIAL-Bold,sans-serif;
	font-size:30px;
	text-align: center;
	letter-spacing: 115px;
	color:darkcyan;
	margin-left:80px;
	margin-top:25px;
}
body{
	margin:0px;
	margin-bottom:150px;
}
h1{
	font-family:DiodaTRIAL-Bold,sans-serif;
	letter-spacing:-2;
	text-align: center;
	color:darkcyan;
	margin-top:50px;
	font-size:70px;
}
.orange{
	position:relative;
	top:-3rem;
	color:lightcoral;
	font-size:190px;
	letter-spacing:-2px;
}
.orange1{
	color:orange;
}
.orange1:hover{
	color:lightcoral;
	cursor:pointer;
}
.orange:hover {
	cursor:pointer;
	color:orange;
}
h3{
	position:relative;
	top:5rem;
	font-family:ABCSolarTrial-Regular;
	color:gray;
	font-size:30px;
	text-align:center;
	font-weigth:100;
	margin-right:200px;
	margin-left:200px;
	font-weight: 100;
	letter-spacing: -1px;
}

h2{
	font-family:DiodaTRIAL-Bold;
	color:darkcyan;
	font-size:70px;
	text-align: center;
}
ul, ol{
	font-family:ABCSolarTrial-Regular;
	font-size:25px;
	color:gray;
}
li{
	margin-left:150px;
	margin-right:150px;
}
h1, h2, h3, ul, ol, {
	margin-left:150px;
	margin-right:150px;
	margin-bottom:150px;
}